<div>
  <form method="POST" action="/crabs/<%= @crab.id %>">
    <input type="hidden" name="_method" value="PUT">
    <div>
      <label for="crab-name">Crab Name:</label>
      <input id="crab-name" type="text" name="crab[name]" placeholder="Name" value="<%= @crab.name %>">
    </div>
    <div>
      <label for="crab-direction">Crab Direction:</label>
      <input id="crab-direction" type="text" name="crab[direction]" placeholder="Direction" value="<%= @crab.direction %>">
    </div>
    <div>
      <label for="crab-claw-size">Crab Claw Size:</label>
      <input id="crab-claw-size" type="text" name="crab[claw_size]" placeholder="Claw Size" value="<%= @crab.claw_size %>">
    </div>
    <div>
      <label for="crab-disposition">Crab Disposition:</label>
      <input id="crab-disposition" type="text" name="crab[disposition]" placeholder="Disposition" value="<%= @crab.disposition %>">
    </div>
    <div>
      <label for="crab-beach">Crab Beach:</label>
      <select id="crab-beach" name="crab[beach_id]">
        <% @beaches.each do |beach| %>
          <option value="<%= beach.id %>" <%= "selected" if @crab.lives_at?(beach) %>><%= beach.location %></option>
        <% end %>
      </select>
    </div>
    <input type="submit" value="Edit Crab!">
  </form>
</div>
