<div>
  <h1>Welcome to <%= @crab.name %>'s profile</h1>
  <p><%= @crab.name %> is a crab who walks <%= @crab.direction %>.</p>
  <p><%= @crab.name %> has a <%= @crab.disposition %> disposition.</p>
  <p><%= @crab.name %>'s claw is <%= @crab.claw_size %> cm wide.</p>
</div>


